@charset "utf-8";

html {
    background-color: green;
}
body {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}
table {
    background-color: lightgreen;
}
th, td {
    border: black 1px solid;
    padding: 30px;
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    color: blue;
}
img {
    border: blue solid 3px;
    padding: 10px;
}
h1 {
    color: aliceblue;
}
h3 {
    text-align: center;
    color: azure;
}